version: '3.8'
services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra-timeseries
    ports:
      - "9042:9042"
    volumes:
      - ./cassandra_timeseries_location.cql:/docker-entrypoint-initdb.d/cassandra_timeseries_location.cql
    environment:
      - CASSANDRA_CLUSTER_NAME=TimeseriesCluster
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
  init-cql:
    image: cassandra:latest
    depends_on:
      - cassandra
    volumes:
      - ./cassandra_timeseries_location.cql:/cassandra_timeseries_location.cql
      - ./wait-for-it.sh:/wait-for-it.sh
    entrypoint: ["/bin/bash", "-c", "/wait-for-it.sh cassandra:9042 --timeout=120 --strict -- cqlsh cassandra 9042 -f /cassandra_timeseries_location.cql"]
